{deps, [
    {bear, {git, "https://github.com/leo-project/bear.git", {tag, "v1.0.0"}}},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "v1.1.0"}}}
]}.

{erl_opts, [debug_info]}.
{cover_enabled, true}.

{profiles, [
    {test, [
        {deps, [
            {meck, {git, "https://github.com/eproxus/meck.git", {tag, "v1.1.0"}}}
        ]}
    ]}
]}.
